.apercu{
  height: 30vh;
  background-image: "https://www.france.tv/image/background_16x9/1200/675/8/t/z/ef2d8c58-phpcpgzt8_png.jpg" !important;
}
span{
  color: yellow;
}
.drawn_card {
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 250px;
  height: 400px;
  cursor: pointer;
}
.drawn_card:hover {
    transform: scale(1.05);
    transition: all 0.4s;
}
.drawn_card img {
  width: 250px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}
.drawn_content {
  position: absolute;
  bottom: -200px;
  padding: 10px;
  height: 200px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  clip-path: polygon(100% 0%, 50% 9%, 0% 10%, 0% 100%, 100% 100%);
  transition: ease-in-out 0.5s;
}
.drawn_content h3 {
  margin: 5px 0px;
}
.drawn_content p {
  margin-bottom: 5px;
}
.drawn_content a {
 position: relative;
 margin-top: 5px;
 background: purple;
 padding: 9px 20px;
 border-radius: 5px;
 color: white;
 text-decoration: none;
 width: max-content;
}
.drawn_card:hover .drawn_content {
  bottom: 0px;
  transition: ease-in 0.5s;
}








