body {
  background-color: black;
}
.NavBar {
  display: flex;
  justify-content: space-evenly;
  background: #032541;
}
.NavBar input {
  text-align: center;
  color: white;
  height: 40px;
  width: 300px;
  transform: translateY(10px);
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 50px;
}
.NavBar ul {
  display: flex;
  height: auto;
}
.NavBar ul li {
  margin: 10px;
  padding-left: 50px;
  font-size: 25px;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 16px;
  color: white;
  list-style: none;
  transform: translateY(6px);
}
.NavBar ul li a {
  color: white;
}

.input-group {
  width: 10%;
  border-radius: 15px;
}

.card {
  width: 17%;
  height: 40vh;
  border:2px solid white;
  transform: scale(1);
}
.card :hover {
  transform: scale(1);
}
.card-body {
   background-color: #032541;
}
.card-title {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  color: white;
}
.card-text {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 700;
  color: white;
}

.bg-image {
  width: 100%;
  height: 70%;
}
.bg-image img{
  width: 100%;
  height: 100%;
}

.card-img-top {
  height: 25vh;
}
.container {
  display: flex;
}
.category {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 1%;
}
.categoryMovies {
  color: white;
  border: 2px solid;
  border-radius: 20px;
  padding: 5px;
}
.categoryMovies :hover {
  color: white;
  background-color: #032541
 
}
footer{
  height: 5vh;
  background-color: #032541;
}
